flows.json
[
    {
        "id": "c689d7b3b0303d20",
        "type": "tab",
        "label": "smartContactor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a6f973a0405606c",
        "type": "tab",
        "label": "smartSwtich",
        "disabled": false,
        "info": ""
    },
    {
        "id": "48a7a3f81ddc0a1f",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#696969",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#d73333",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#d73333",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2b2b2b",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#30d163",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "SBM Final Project: Smart Contactor",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5572d627a82c04ed",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbebd3b571537413",
        "type": "serial-port",
        "serialport": "/dev/tty.wchusbserial52870190571",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f2871ec28540f643",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed50aa62c82ca536",
        "type": "ui_group",
        "name": "LED Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9fcf269908e18c4",
        "type": "mqtt-broker",
        "name": "Local",
        "broker": "192.168.100.19",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8860a420f982a857",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31317b5fede43b97",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f571d83328dc91f1",
        "type": "ui_group",
        "name": "LED Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "452bdb6f11da4bfa",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "5037c985634f78ca",
        "type": "ui_group",
        "name": "randNumber",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "532044992d4ab9ee",
        "type": "ui_group",
        "name": "saw",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78ba92b914e547ad",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c3eec0eae709859",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "877045c7e64afbcc",
        "type": "ui_tab",
        "name": "Smart Switch",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "395dba892ff1f493",
        "type": "ui_group",
        "name": "Meja 1",
        "tab": "877045c7e64afbcc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54a9b6d5515b786f",
        "type": "ui_group",
        "name": "Meja 2",
        "tab": "877045c7e64afbcc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc4dfc80b877fa82",
        "type": "ui_tab",
        "name": "Smart Contactor",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9fe8e0e27e235c69",
        "type": "ui_group",
        "name": "Desk 1",
        "tab": "bc4dfc80b877fa82",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0feb675b408554d0",
        "type": "ui_group",
        "name": "Desk 2",
        "tab": "bc4dfc80b877fa82",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cbc1ac81e9e1b2a",
        "type": "mqtt in",
        "z": "c689d7b3b0303d20",
        "name": "",
        "topic": "smartContactor/desk1/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "a9fcf269908e18c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "4076a7f140e98fe9"
            ]
        ]
    },
    {
        "id": "688140ea053af7ac",
        "type": "mqtt in",
        "z": "c689d7b3b0303d20",
        "name": "",
        "topic": "smartContactor/desk2/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "a9fcf269908e18c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "44d3d3564d26d36c"
            ]
        ]
    },
    {
        "id": "4fcbd9a0c0e18795",
        "type": "function",
        "z": "c689d7b3b0303d20",
        "name": "",
        "func": "if (msg.payload === \"ON\") {\n    msg.payload = true\n    msg.colour = \"#34bd64\"\n} else {\n    msg.payload = false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "b439bcc1cc9d0fac"
            ]
        ]
    },
    {
        "id": "053347adc8243a32",
        "type": "mqtt in",
        "z": "c689d7b3b0303d20",
        "name": "",
        "topic": "smartContactor/desk1/lamp1",
        "qos": "2",
        "datatype": "auto",
        "broker": "a9fcf269908e18c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "4fcbd9a0c0e18795"
            ]
        ]
    },
    {
        "id": "5bceca5e0683d77c",
        "type": "mqtt out",
        "z": "c689d7b3b0303d20",
        "name": "",
        "topic": "smartContactor/desk1/lamp1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9fcf269908e18c4",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "659d5c0984988132",
        "type": "function",
        "z": "c689d7b3b0303d20",
        "name": "",
        "func": "if (msg.payload) {\n    msg.payload = \"ON\"\n} else {\n    msg.payload = \"OFF\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "5bceca5e0683d77c"
            ]
        ]
    },
    {
        "id": "128e46de8a3fe990",
        "type": "ui_switch",
        "z": "c689d7b3b0303d20",
        "name": "",
        "label": "Contactor 2",
        "tooltip": "",
        "group": "0feb675b408554d0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "07466b511093de94"
            ]
        ]
    },
    {
        "id": "44cf135bb601fbe0",
        "type": "function",
        "z": "c689d7b3b0303d20",
        "name": "",
        "func": "if (msg.payload === \"ON\") {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            [
                "128e46de8a3fe990"
            ]
        ]
    },
    {
        "id": "181a81911009f493",
        "type": "mqtt in",
        "z": "c689d7b3b0303d20",
        "name": "",
        "topic": "smartContactor/desk2/lamp1",
        "qos": "2",
        "datatype": "auto",
        "broker": "a9fcf269908e18c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "44cf135bb601fbe0"
            ]
        ]
    },
    {
        "id": "13cfd93e006963a3",
        "type": "mqtt out",
        "z": "c689d7b3b0303d20",
        "name": "",
        "topic": "smartContactor/desk2/lamp1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9fcf269908e18c4",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "07466b511093de94",
        "type": "function",
        "z": "c689d7b3b0303d20",
        "name": "",
        "func": "if (msg.payload) {\n    msg.payload = \"ON\"\n} else {\n    msg.payload = \"OFF\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "13cfd93e006963a3"
            ]
        ]
    },
    {
        "id": "4076a7f140e98fe9",
        "type": "ui_led",
        "z": "c689d7b3b0303d20",
        "order": 1,
        "group": "9fe8e0e27e235c69",
        "width": 0,
        "height": 0,
        "label": "Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#34c759",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#ff453a",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "44d3d3564d26d36c",
        "type": "ui_led",
        "z": "c689d7b3b0303d20",
        "order": 1,
        "group": "0feb675b408554d0",
        "width": 0,
        "height": 0,
        "label": "Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#34c759",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#ff453a",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#ff453a",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "8ddf471a29b74ad9",
        "type": "aedes broker",
        "z": "c689d7b3b0303d20",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4849eafec42be18c",
        "type": "mqtt in",
        "z": "8a6f973a0405606c",
        "name": "",
        "topic": "smartSwitch/meja1/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "a9fcf269908e18c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "aca164097d947e7d"
            ]
        ]
    },
    {
        "id": "aca164097d947e7d",
        "type": "function",
        "z": "8a6f973a0405606c",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "70b7c5137fce4b41"
            ]
        ]
    },
    {
        "id": "70b7c5137fce4b41",
        "type": "ui_level",
        "z": "8a6f973a0405606c",
        "group": "395dba892ff1f493",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "Battery",
        "label": "Battery",
        "colorHi": "#34c759",
        "colorWarn": "#ff9500",
        "colorNormal": "#ff3b30",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "33",
        "segHigh": "66",
        "unit": "%",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "b08a96ce5fe43c8e",
        "type": "mqtt in",
        "z": "8a6f973a0405606c",
        "name": "",
        "topic": "smartSwitch/meja2/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "a9fcf269908e18c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "2d6ba1ddfed6c763"
            ]
        ]
    },
    {
        "id": "2d6ba1ddfed6c763",
        "type": "function",
        "z": "8a6f973a0405606c",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 220,
        "wires": [
            [
                "e779d9179e4b1f73"
            ]
        ]
    },
    {
        "id": "e779d9179e4b1f73",
        "type": "ui_level",
        "z": "8a6f973a0405606c",
        "group": "54a9b6d5515b786f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Battery",
        "label": "Battery",
        "colorHi": "#34c759",
        "colorWarn": "#ff9500",
        "colorNormal": "#ff3b30",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "33",
        "segHigh": "66",
        "unit": "%",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "7bf2bcaa1cb9624b",
        "type": "ui_button",
        "z": "c689d7b3b0303d20",
        "name": "",
        "group": "0feb675b408554d0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET WIFI SETTING",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ff453a",
        "className": "",
        "icon": "",
        "payload": "RST",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "dda549958899ccd7"
            ]
        ]
    },
    {
        "id": "dda549958899ccd7",
        "type": "mqtt out",
        "z": "c689d7b3b0303d20",
        "name": "",
        "topic": "smartContactor/desk2/reset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9fcf269908e18c4",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "658abd3fd8d5a12e",
        "type": "ui_button",
        "z": "c689d7b3b0303d20",
        "name": "",
        "group": "9fe8e0e27e235c69",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET WIFI SETTING",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ff453a",
        "className": "",
        "icon": "",
        "payload": "RST",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "9d2e5bc63d15356d"
            ]
        ]
    },
    {
        "id": "9d2e5bc63d15356d",
        "type": "mqtt out",
        "z": "c689d7b3b0303d20",
        "name": "",
        "topic": "smartContactor/desk1/reset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a9fcf269908e18c4",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "b439bcc1cc9d0fac",
        "type": "ui_switch",
        "z": "c689d7b3b0303d20",
        "name": "",
        "label": "Contactor 1",
        "tooltip": "",
        "group": "9fe8e0e27e235c69",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "659d5c0984988132"
            ]
        ]
    }
]